.site1 p {
    color: white;
    font-weight: 300;
    font-size: 10px;
    opacity: 30%;
}
.site1 h1 {
    color: white;
    padding-left: 10px;
    font-weight: 400;
    font-size: 20px;

}
.site1 h4 {
    color: white;
    width: 300px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
}

.site1 {
    height: 400px;
    width: 420px;
    align-items: center;
    border: 1px solid rgba(124, 124, 124, 0.3);
}

.site1 img {
    width: 400px;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 10px;
}

.box {
    align-items: center;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}
.btn-tap {
    text-decoration: none;
    font-size: 10px;
    padding: 10px;
    color: white;
    transition:  background-color 0.3s  linear;
    background-color: rgb(104, 132, 255);
}
.btn-tap:hover {
    background-color: black;
}
.btn-p {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}



@media only screen and (max-width: 420px) {
    .site1 p {
        color: white;
        font-weight: 300;
        font-size: 10px;
        opacity: 30%;
    }
    .site1 h1 {
        color: white;
        padding-left: 10px;
        font-weight: 400;
        font-size: 20px;
    
    }
    .site1 h4 {
        color: white;
        width: 300px;
        padding-left: 10px;
        font-weight: 400;
        font-size: 14px;
    }
    
    .site1 {
        margin-top: 20px;
        width: max-content;
        margin-left: 5px;
        border: 1px solid rgba(124, 124, 124, 0.3);
    }
    .site1 img {
        width: 390px;
        cursor: pointer;
        margin-top: 10px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .box {
        align-items: center;
        margin-top: 0px;
        display: inline-block;
        /* justify-content: space-evenly; */
    }
    .btn-tap {
        text-decoration: none;
        font-size: 10px;
        padding: 10px;
        color: white;
        transition:  background-color 0.3s  linear;
        background-color: rgb(104, 132, 255);
    }
    .btn-tap:hover {
        background-color: black;
    }
    .btn-p {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
}